apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./upstream/manifest.yaml
- ./namespace.yaml
- ./cert.yaml
patchesStrategicMerge:
- ./apiservice.yaml
- ./deployment.yaml
images:
- name: registry.opensource.zalan.do/teapot/kube-metrics-adapter
  newName: quay.io/cybozu/kube-metrics-adapter
  newTag: 0.1.10.1
