apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./upstream/metallb.yaml
patchesStrategicMerge:
- ./pod-security-policy.yaml
- ./deployment.yaml
images:
- name: metallb/speaker
  newName: quay.io/cybozu/metallb
  newTag: 0.9.5.1
- name: metallb/controller
  newName: quay.io/cybozu/metallb
  newTag: 0.9.5.1
