apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- upstream/controller.yaml

patchesStrategicMerge:
- deployment.yaml

patches:
- target:
    group: apiextensions.k8s.io
    version: v1
    kind: CustomResourceDefinition
    name: sealedsecrets.bitnami.com
  patch: |-
    - op: remove
      path: /spec/versions/0/schema/openAPIV3Schema/properties/spec/properties

images:
  - name: quay.io/bitnami/sealed-secrets-controller
    newName: quay.io/cybozu/sealed-secrets
    newTag: 0.14.1.1
