{{/* print environment name and default title for Slack */}}
{{ define "slack.neco.env" }}stage0{{ end }}
{{ define "slack.neco.title" }}Alert from Stage0: {{ template "slack.default.title" . }}{{ end }}
