apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: grafana
  name: grafana
data:
  grafana.ini: |
    [analytics]
    check_for_updates = true
    [grafana_net]
    url = https://grafana.sandbox.svc.cluster.local
    [log]
    mode = console
    [paths]
    data = /var/lib/grafana/data
    logs = /var/log/grafana
    plugins = /var/lib/grafana/plugins
    provisioning = /etc/grafana/provisioning
    [users]
    viewers_can_edit = true
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: grafana
  name: grafana-datasources-provider
data:
  providers.yaml: |
    apiVersion: 1
    datasources:
    - name: 'prometheus'
      type: prometheus
      access: proxy
      orgId: 1
      url: http://prometheus.monitoring.svc:9090
      isDefault: true
      editable: false
    - name: 'vmsingle-smallset'
      type: prometheus
      access: proxy
      orgId: 1
      url: http://vmsingle-vmsingle-smallset.monitoring.svc:8429
      isDefault: false
      editable: false
    - name: 'vmcluster-largeset'
      type: prometheus
      access: proxy
      orgId: 1
      url: http://vmselect-vmcluster-largeset.monitoring.svc:8481/select/0/prometheus
      isDefault: false
      editable: false
